@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
}

header {
    gap: 15px;
    height: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gold;
    font-weight: bold;
    background-color: purple;
}

#title {
    font-family: "Inter", serif;
}

main {
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code {
    padding-top: 2em;
    font-family: "Inter", serif;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    color: gold;
    font-weight: bold;
    background-color: purple;
}